<!DOCTYPE html>

<html lang="en">

{{>layout/header}}

<body>
<div class="container">

  {{>layout/header-visible}}

  {{>menu/admin-master-menu}}

  {{>layout/beradcrumbs}}

  <div class="container-fluid mt-3">
    {{#hasMasters}}
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Имя</th>
        <th>Логин</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Услуги</th>
        <th>Активирован?</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      {{#masters}}
      <tr>
        <td>{{name}}</td>
        <td>{{userAccount.username}}</td>
        <td>{{userAccount.email}}</td>
        <td>{{userAccount.phone}}</td>
        <td>
          {{#services}}
          <span class="badge text-bg-success">{{title}}</span>
          {{/services}}
        </td>
        <td>{{statusActivate}}</td>
        <td><a href="/admin/master/{{id}}/edit">Редактировать</a></td>
        <td><a href="/admin/master/{{id}}/delete">Удалить</a></td>
      </tr>
      {{/masters}}
      </tbody>
    </table>
    {{/hasMasters}}
    {{^hasMasters}}
    <h2>Мастеров не найдено</h2>
    {{/hasMasters}}
  </div>
  <script type="text/javascript">
    $(function () {
      const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
      const popoverList = [...popoverTriggerList].map(
          popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    })
  </script>
</div>
</body>

</html>